@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	--primary: #ddd;
	--secondary: #000;
	--red: #e50914;
	--dark-red: #a30810;
	scroll-behavior: smooth;
}
body {
	font-family: "EB Garamond", serif;
	background-color: var(--primary);
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.5px;
}
h1,
h2,
h3,
h4,
h5 {
	color: var(--secondary);
	font-weight: 700;
}
h1 {
	font-size: 1.5rem;
}
h2 {
	font-size: 1.25rem;
}
h3 {
	font-size: 1.125rem;
}
h4 {
	font-size: 1.125rem;
}
h5 {
	font-size: 1.125rem;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
p {
	font-size: 1rem;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	object-fit: cover;
	display: block;
}
button {
	border: none;
}
input {
	outline: none;
	border: none;
	border-radius: 3px;
}
input:focus {
	outline: none;
}
svg:hover {
	color: var(--red);
}
.btn-all {
	background-color: var(--red);
	font-weight: 700;
	border-radius: 3px;
	padding: 7px 15px;
	min-width: 80px;
	text-align: center;
	display: inline-block;
	-webkit-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
}
.btn-all:hover {
	background-color: var(--dark-red);
	letter-spacing: 0.1em;
	cursor: pointer;
}
.btn-all,
.btn-all a {
	color: #ddd;
}
.heading__all {
	margin: 15px 0;
	font-size: 24px;
}
.section-all {
	padding: 50px 15px !important;
}
.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 15px;
}
/* Theme Changer Css */
.toggle__container {
	position: absolute;
	right: 0;
	top: 80px;
}
.toggle__container input[type="checkbox"] {
	height: 0;
	width: 0;
	visibility: hidden;
}
.toggle__container label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
	z-index: 99999;
}
.toggle__container label:after {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: var(--red);
	border-radius: 100%;
	transition: 0.3s;
}
.toggle__container input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}
.toggle__container label:active:after {
	width: 45px;
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
	transition: all 750ms !important;
	transition-delay: 0 !important;
}
/* Navbar Started */
nav {
	background: var(--primary);
	padding: 0 15px;
	border-bottom: 1px solid black;
}
.navmenu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
}
.brand__logo img {
	width: 200px;
}
.item {
	padding: 15px;
}
.item:not(.button) a:hover,
.item a:hover::after {
	color: var(--secondary);
}
/* Mobile navmenu */
.navmenu li a {
	color: var(--secondary);
	display: block;
	font-weight: 600;
}
.navmenu li a:hover {
	color: var(--red) !important;
}
.toggle {
	order: 1;
	font-size: 20px;
	width: 100px;
	text-align: end;
}
.item.button {
	order: 2;
	display: block;
	width: 33%;
}
.item {
	order: 3;
	width: 100%;
	text-align: center;
	display: none;
}
.active .item {
	display: block;
}
/* Tablet navmenu */
@media all and (min-width: 700px) {
	.navmenu {
		justify-content: center;
	}
	.brand__logo {
		flex: 1;
	}
	.item.button {
		width: auto;
		order: 1;
		display: block;
	}
	.toggle {
		/* flex: 1; */
		text-align: right;
		order: 2;
	}
	.navmenu li.button a {
		padding: 10px 5px;
		margin: 5px 0;
	}
}
/* Desktop navmenu */
@media all and (min-width: 960px) {
	.navmenu {
		align-items: center;
		flex-wrap: nowrap;
		background: none;
	}
	.brand__logo {
		order: 0;
	}
	.item {
		order: 1;
		position: relative;
		display: block;
		width: auto;
	}
	.button {
		order: 2;
	}
	.toggle {
		display: none;
	}
}
/* Navbar Ended */
/* Index Page Started */
.navbar {
	position: relative;
	display: flex;
	width: 100%;
	height: 50px;
	min-height: 100px;
	align-items: center;
	justify-content: space-between;
}
.logo img {
	width: 320px;
}
.main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 755px;
	margin-top: -100px;
	overflow-x: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			to top,
			rgba(0, 0, 0, 1),
			rgba(0, 0, 0, 0)
		),
		url(../images/hero-bg.jpg);
}
.main__area {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 70px;
}
.main__area h2 {
	color: #ddd;
	font-size: 60px;
	word-spacing: 5px;
	line-height: 75px;
}
.main__area h3 {
	color: #ddd;
	margin-top: 30px;
	font-size: 27px;
	font-weight: normal;
}
.main__area h4 {
	color: #ddd;
	margin-top: 10px;
	font-weight: normal;
}
.search {
	width: 80%;
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.search__box {
	width: 100%;
	min-height: 50px;
	padding: 10px;
	border: none;
	border-radius: 3px;
	font-size: 1rem;
	text-align: center;
}
.container__pro {
	width: 100%;
	min-height: 460px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	text-align: left;
}
.container__pro img {
	display: flex;
	justify-content: center;
	flex-direction: row;
	object-fit: contain;
	object-position: center;
	align-self: center;
	max-width: 100%;
	max-height: 350px;
}
.text {
	color: var(--secondary);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: center;
}
.text h2 {
	font-size: 3.125rem;
	margin-bottom: 15px;
}
.text p {
	font-size: 1.5rem;
	margin-top: 5px;
}
.text.left {
	align-items: flex-end;
}
.text.left h2 {
	text-align: right;
}
/* Main Section */
.hr__scroll {
	display: flex;
	overflow-y: hidden;
	-ms-overflow-style: none; /* IE 11 */
	scrollbar-width: none; /* Firefox 64 */
}
.hr__scroll::-webkit-scrollbar {
	width: 0px;
}
.hr__scroll a {
	margin: 15px 10px;
}
.hr__scroll a img {
	max-width: 180px;
	border-radius: 3px;
}
.hr__scroll a {
	transition: transform 0.5s;
}
.hr__scroll a img {
	object-fit: contain;
}
.hr__scroll a:hover {
	transition: transform 0.3s;
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
@media (max-width: 500px) {
	.heading__all {
		text-align: center;
	}
}
.footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.footer .flex1 {
	color: var(--secondary);
	justify-content: space-around;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	font-size: 17px;
	min-height: 30px;
}
.footer .flex1 h5 {
	align-self: flex-start;
}
.list__item {
	min-height: 50px;
	font-size: 14px;
	line-height: 1.5rem;
}
.list__item a {
	color: var(--secondary);
}
.list__item a:hover {
	color: var(--red);
}
@media (min-width: 250px) and (max-width: 980px) {
	.container__pro {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		align-self: center;
	}
	.navbar {
		display: flex;
		flex-direction: column;
	}
	.main__area h2 {
		font-size: 40px;
		line-height: 60px;
	}
	.main__area h3 {
		margin-top: 10px;
	}
	.svg__image img {
		width: 100%;
		padding: 15px 0;
	}
	.search {
		flex-direction: column;
	}
	.search__box {
		width: 100%;
		margin-bottom: 20px;
		margin: 30px 0;
		text-align: center;
	}
	.text {
		justify-content: center;
		align-items: center;
		align-self: center;
		text-align: center;
	}
	.text.left {
		align-items: center;
	}
	.text.left h2 {
		text-align: center;
	}
	.text h2 {
		font-size: 2rem;
		margin-left: 10px;
		margin-right: 10px;
	}
	.text p {
		font-size: 1.2rem;
		margin-left: 10px;
		margin-right: 10px;
	}
	#flex__item1 {
		order: 2;
	}
	#flex__item2 {
		order: 1;
	}
}
/* Index Page Ended */
/* Login / register page started */
.register,
.login {
	background-color: var(--primary);
	height: 100vh;
}
.register__card,
.login__card {
	width: 320px;
	height: auto;
	padding: 15px;
	background-color: var(--secondary);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	box-shadow: 0 16px 28px 0 rgb(0 0 0 / 22%), 0 25px 55px 0 rgb(0 0 0 / 21%);
}
.form__heading {
	margin-bottom: 20px;
}
.card__heading {
	color: var(--primary);
	font-size: 36px;
	text-align: center;
	padding-top: 5px;
}
.card__subheading {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}
.card__subheading a {
	color: var(--primary);
}
.card__subheading a:hover {
	color: var(--red);
}
.card__subheading::after {
	content: "";
	display: block;
	width: 45%;
	padding-top: 5px;
	margin: 0 auto;
	border-bottom: 3px solid #fe980f;
}
.input__group {
	width: 100%;
	margin-bottom: 10px;
}
.input__group svg {
	position: absolute;
	color: black;
	min-width: 50px;
	margin-top: 5px;
}
.input-field {
	width: 100%;
	padding: 10px;
	padding-left: 50px;
}
.termsandcondition {
	color: var(--primary);
	font-size: 16px;
	font-weight: 500;
}
.termsandcondition a,
.form__footer a {
	color: var(--dark-red);
}
.termsandcondition a:hover,
.form__footer a:hover {
	color: var(--red);
}
.register_btn {
	margin: 10px 0;
}
.form__footer {
	color: var(--primary);
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
	text-align: center;
}
/* Log in page endeded */

/*book details page start*/
.book_details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	box-shadow: 0 16px 20px 0 rgb(0 0 0 / 22%), 0 25px 55px 0 rgb(0 0 0 / 21%);
}
.book_details div {
	margin-right: 15px;
}
.book_details_right {
	color: var(--secondary);
}
.book_details_right div {
	margin-bottom: 15px;
}
.book_details_right_caption h1 {
	font-size: 1.5rem;
}
.book_details_right_category p {
	font-size: 1.2rem;
}
.book_details_right_rating_review p {
	font-size: 1.2rem;
	margin-right: 0.5rem;
}
.book_details_right_price h3 {
	font-size: 1.8rem;
}
.book_details_right_code p {
	font-size: 1rem;
}
.book_details_qty {
	width: 1.2rem;
	font-size: 1.2rem;
	margin-bottom: 0.8rem;
	align-items: center;
}
.book_details_right_quantity input {
	width: 1.2rem;
	text-align: center;
}
.book_details_right_button .add_to_cart {
	width: auto;
	margin-right: 2rem;
}
.book_specification_details h2 {
	font-size: 1.8rem;
}
.book_specification_details ul li {
	font-size: 1.4rem;
	margin-top: 0.5rem;
	color: Var(--secondary);
}
.book_specification_details span {
	font-size: 1rem;
}
/*book specification start*/
.book_summary_section p {
	color: Var(--secondary);
}
/*checkout end*/
/*media query for ipad pro start*/
@media (min-width: 1024px) and (max-width: 1366px) {
	.book_details_right {
		color: var(--secondary);
		padding-left: -2.5rem;
	}
	.book_specification_details {
		display: block;
	}
}
/*media query for ipad pro end*/

/* check out media queries for ipad start*/
@media (min-width: 767px) and (max-width: 1023px) {
	.book_details_image {
		width: 30%;
		height: auto;
	}
	.book_details_image img {
		width: 100%;
		height: auto;
		margin-bottom: 1rem;
	}
}
/* check out media queries for ipad end*/

/*check_out media queries for phonr mobile start*/
@media (max-width: 767px) {
	.book_details {
		display: block;
	}
	/* .book_details_image {
		width: 80%;
		height: auto;
		margin: 0 auto;
	} */
	.book_details_image img {
		padding: 5%;
		width: 100%;
		margin-bottom: 0.8rem;
	}
	.book_details_right_caption {
		font-size: 1.2rem;
	}
	.book_details_right_category {
		font-size: 1rem;
	}
	.book_details_qty {
		margin-bottom: 0.7rem;
	}
	.book_details_right_button a {
		margin-bottom: 1rem;
		width: auto;
	}
	.add_to_cart {
		width: auto;
	}
}
/* checkout mpbile phone media queries end*/
/* checkout small media queries start*/
@media (max-width: 466px) {
	.book_details {
		display: block;
	}
	.book_details_image {
		width: 100%;
		height: auto;
	}
	.book_details_image img {
		padding: 5%;
		width: 100%;
	}
}
/* checkout small media queries end*/

/*wishlist start*/
.wishlist_items table {
	width: 80%;
	margin: 0 auto;
}
.wishlist_items table td {
	text-align: left;
	padding: 1.5rem;
}
.wishlist_book_image {
	width: 20%;
	height: 15%;
}
.wishlist_book_details {
	width: 35%;
	padding-left: 2rem;
	color: var(--secondary);
}
.wishlist_book_details h5 {
	font-size: 1.2rem;
}
.wishlist_book_details p {
	font-size: 1rem;
}
.wishlist_book_details a {
	font-size: 1rem;
	color: var(--red);
}
.wishlist_book_details h6 {
	font-size: 1.2rem;
}
.wishlist_quantity_td {
	width: 25%;
	padding-left: 1.2rem;
}
.wishlist_qty {
	width: 1rem;
	font-size: 1rem;
	color: #000;
	align-items: center;
}
.wishlist_quantity input {
	width: 1rem;
	text-align: center;
}
/*wish list end*/
/*wish list ipad media queries start*/
@media (min-width: 768px) and (max-width: 1024px) {
	.wishlist_book_image {
		width: 20%;
		height: 15%;
	}
	.wishlist_book_details {
		width: 30%;
		padding-left: 2rem;
	}
	.wishlist_book_details h5 {
		font-size: 1.2rem;
	}
	.wishlist_book_details p {
		font-size: 1rem;
	}
	.wishlist_book_details a {
		font-size: 1rem;
		color: var(--red);
	}
	.wishlist_book_details h6 {
		font-size: 1rem;
	}
	.wishlist_quantity_td {
		width: 25%;
		padding-left: 1rem;
	}
	.wishlist_qty {
		width: 1.2rem;
		font-size: 1.2rem;
		color: #000;
		align-items: center;
	}
}
/*wish list ipad media queries end*/
/*media queries for mobile*/
@media (max-width: 767px) {
	.wishlist_items table {
		width: 90%;
		margin: 0 auto;
	}
	.wishlist_items table td {
		text-align: left;
		padding: 0.7rem;
		display: block;
	}
	.wishlist_book_image {
		width: 60%;
		height: 15%;
	}
	.wishlist_book_details {
		width: 100%;
		padding: 5%;
		margin: 0 auto;
	}
	.wishlist_quantity_td {
		width: 100%;
		padding: 5%;
		font-size: 1.2rem;
	}
	.wishlist_add_to_cart {
		width: 100%;
		padding: 5%;
	}
}
/*mpbile phone media queries end*/
/*very small device media queries*/
@media (max-width: 468px) {
	.wishlist_book_img {
		width: 100%;
		height: auto;
	}
}
/*very small device media queries end*/
/*sale book start*/
.addbook {
	background-color: var(--primary);
	height: 100vh;
}
.addbook_form {
	width: 320px;
	height: auto;
	padding: 15px;
	background-color: var(--secondary);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	box-shadow: 0 16px 28px 0 rgb(0 0 0 / 22%), 0 25px 55px 0 rgb(0 0 0 / 21%);
}
.addbook__heading {
	color: var(--primary);
	font-size: 36px;
	text-align: center;
	padding-top: 5px;
}
.input__group {
	width: 100%;
	margin-bottom: 10px;
}
.input__group svg {
	position: absolute;
	color: black;
	min-width: 50px;
	margin-top: 5px;
}
.input-field {
	width: 100%;
	padding: 10px;
	padding-left: 50px;
}
.addbook_btn {
	margin: 10px 0;
	float: right;
}
.copyright p {
	color: var(--secondary);
	float: right;
	padding: 15px;
}
.view__book {
	height: 400px;
	object-fit: contain;
}

/* dashboard css */
.dashboard__heading {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.userdetails__table {
	width: 100%;
	border-collapse: collapse;
	margin: 10px 0;
	color: var(--primary);
	background-color: var(--secondary);
}

.userdetails__table th,
.userdetails__table td {
	border: 1px solid var(--primary);
	padding: 10px;
	white-space: nowrap;
}
.userdetails__table tr:hover {
	background-color: var(--primary);
	color: var(--secondary);
}
.userdetails__table th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: var(--dark-red);
	color: white;
}
